.body{
    background-color: #141313;
}

.con{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
    border-radius: 30px;
    padding: 2%;
    background-color: rgba(29, 27, 36, 0.926);
    color: azure;
}

.social{
    display: flex;
    background-color: rgba(29, 27, 36, 0.926);
    flex: 0%;
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
    border-radius: 30px;
}

.fa{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
  background: #2c4272;
  color: white;
  border-radius: 20px;
}

.fa-github {
    background: #2c4272;
    color: white;
    border-radius: 20px;
  }

.fa-linkedin {
    background: #2c4272;
    color: white;
    border-radius: 20px;
}

.fa:hover {
    opacity: 0.4; 
}

.menu{
    margin-top: 2%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 30px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}